# Assignment #4 - Data Gathering and Warehousing - DSSA-5102

Instructor: Melissa Laurino</br>
Spring 2024</br>

Name: Colin Glory
</br>
Date: 2/8/24
<br>
<br>
<b>Only Murders in the...Database?</b><br>
An introduction to navigating SQL databases using R and Jupyter Notebook. <br>
<br>
A crime has taken place and you are the perfect amateur detective to solve it! 
<br>
The detective gave you the crime scene report, but you somehow lost it...? You vaguely remember that the crime
was a murder that occurred sometime on <b>Jan.15, 2018</b> and that it took place in <b>SQL
City</b>. All the clues to this mystery are buried in a huge database, and you need to use
SQL to navigate through this vast network of information. Your first step to solving the mystery is to retrieve the corresponding crime scene report from the police department’s database. Take a look at the cheatsheet to learn how to do this! From there, you can use your SQL skills to find the murderer.<br>

Your task for Assignment #4 is to:<br>
<b>--</b>Find our who the murderer is!<br>
<b>--</b>Read/Review Chapters 4-6 in Getting Started with SQL on available on Blackboard (Keep in mind the code will have to be modified for R!)<br>
<b>--</b>Add detailed comments to explain EVERY query or SQL command you use while we are still learning and practicing. I have my steps outlined, but please add more cells inbetween for additional queries! There is no limit on the number of queries you can use. <br>
<b>--</b>For each query include comments such as "SELECT all records FROM table WHERE column name = X"<br>
<b>--</b>Answer any prompts in markdown cells.<br>
<br>
<br>
Basic usage of database commands in R with SQLite library: https://rsqlite.r-dbi.org/

This fabulous database was created by @NUKnightLab on Github and can be found here: https://github.com/NUKnightLab/sql-mysteries

Database files are indicated by the .db file extension. For this exercise, our database has already been created. To avoid setting your working directory, have the .db file and Assignment#4_LastName.ipynb in the same file location. There are multiple libraries that can be used to navigate database files and connect to SQL for databases that are stored on a server or your computer as a local host.

In [10]:
#install.packages("RSQLite")
#install.packages("RMariaDB")
#install.packages("DBI")
#install.packages("dplyr")
#install.packages("dbplyr")
#library(RMariaDB)
library("RSQLite") #We will use R commands to work with SQL in a database file using RSQLite.
library("DBI")
library("dplyr")
library("dbplyr")
#If a red box appears telling you where the packages are downloaded, just run the line of code a second time to have it dissapear.

Warning message:
"package 'dplyr' was built under R version 4.3.2"

ERROR: Error: package or namespace load failed for 'dplyr' in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]):
 namespace 'vctrs' 0.6.3 is already loaded, but >= 0.6.4 is required

In [11]:
#How to connect to our .db file using library RSQLite
#Notice that we are not specifiying a host, password, or server at this time.
db <- dbConnect(dbDriver("SQLite"), dbname = "sql-murder-mystery.db")

In [12]:
#Explore the database
#List all of the tables present in the database. Do they match the schema image?
#This is a good way to double check that your database was loaded into R correctly.
dbListTables(db)

[1] "crime_scene_report"     "drivers_license"        "facebook_event_checkin"
[4] "get_fit_now_check_in"   "get_fit_now_member"     "income"
[7] "interview"              "person"                 "solution"

In [49]:
#Explore the database
#Show what information is present in ALL of the tables:

# Replace table name after FROM to look at each table's contents
practice <- dbSendQuery(db, "SELECT * 
                        FROM crime_scene_report
                        ")
dbFetch(practice)







#So much data! How would we possibly make sense of ANY of this without SQL? :)

Warning message:
"Closing open result set, pending rows"

  id    person_id name          membership_start_date membership_status
1 48Z7A 28819     Joe Germuska  20160305              gold
2 48Z55 67318     Jeremy Bowers 20160101              gold

In [98]:
#What are the column names for each table? What table will help us get to the next clue?
print("crime_scene_report") 

print("drivers_license") 

print("Facebook_event_checkin") 

print("get_fit_now_check_in") 

print("get_fit_now_member") 

print("income") 

print("interview") 

print("person") 

print("solution")

[1] "crime_scene_report"

NULL

[1] "drivers_license"
[1] "Facebook_event_checkin"
[1] "get_fit_now_check_in"
[1] "get_fit_now_member"
[1] "income"
[1] "interview"
[1] "person"
[1] "solution"

Practice using commmands useful in queries:

In [10]:
#Example: 
#Select all records from the table crime_scene_report where type is murder:
practice <- dbSendQuery(db, "SELECT * 
                        FROM crime_scene_report
                        WHERE type='murder'
                        ")
dbFetch(practice)

    date     type
1   20180115 murder
2   20180115 murder
3   20180215 murder
4   20180215 murder
5   20170107 murder
6   20170108 murder
7   20170108 murder
8   20170111 murder
9   20170121 murder
10  20170122 murder
11  20170124 murder
12  20170124 murder
13  20170125 murder
14  20170207 murder
15  20170220 murder
16  20170220 murder
17  20170221 murder
18  20170225 murder
19  20170227 murder
20  20170302 murder
21  20170304 murder
22  20170308 murder
23  20170322 murder
24  20170325 murder
25  20170326 murder
26  20170328 murder
27  20170329 murder
28  20170330 murder
29  20170401 murder
30  20170403 murder
⋮   ⋮        ⋮
119 20180201 murder
120 20180203 murder
121 20180209 murder
122 20180209 murder
123 20180214 murder
124 20180214 murder
125 20180215 murder
126 20180225 murder
127 20180227 murder
128 20180302 murder
129 20180311 murder
130 20180314 murder
131 20180316 murder
132 20180316 murder
133 20180318 murder
134 20180319 murder
135 20180325 murder
136 20180329 murder
137 20180329 murder
138 20180330 murder
139 20180410 murder
140 20180413 murder
141 20180414 murder
142 20180415 murder
143 20180417 murder
144 20180427 murder
145 20180428 murder
146 20180429 murder
147 20180430 murder
148 20180115 murder
    description
1   Life? Dont talk to me about life.
2   Mama, I killed a man, put a gun against his head...
3   REDACTED REDACTED REDACTED
4   Someone killed the guard! He took an arrow to the knee!
5   ‘It proves nothing of the sort!’ said Alice. ‘Why, you don’t even know\n
6   get” is the same thing as “I get what I like”!’\n
7          HEARTHRUG,\n
8   \n
9   her, to pass away the time.\n
10  came near her, she began, in a low, timid voice, ‘If you please, sir--’\n
11  about something, my dear, and that makes you forget to talk. I can’t\n
12  \n
13  age knew the meaning of it at all. However, ‘jury-men’ would have done\n
14  \n
15  \n
16  knocking, and hurried upstairs, in great fear lest she should meet the\n
17  ‘I HAVE tasted eggs, certainly,’ said Alice, who was a very truthful\n
18  \n
19  name like an honest man.’\n
20  with the words ‘DRINK ME,’ but nevertheless she uncorked it and put it\n
21  \n
22  ground as she spoke; ‘either you or your head must be off, and that in\n
23  ‘Yes,’ said Alice doubtfully: ‘it means--to--make--anything--prettier.’\n
24   “You can really have no notion how delightful it will be\n
25  \n
26  the poor animal’s feelings. ‘I quite forgot you didn’t like cats.’\n
27  had got so much into the way of expecting nothing but out-of-the-way\n
28  ‘I don’t know where Dinn may be,’ said the Mock Turtle, ‘but if you’ve\n
29  it all seemed quite natural); but when the Rabbit actually TOOK A WATCH\n
30  \n
⋮   ⋮
119 hookah into its mouth and began smoking again.\n
120 \n
121 ‘Then the words don’t FIT you,’ said the King, looking round the court\n
122 \n
123 \n
124 \n
125 The baby grunted again, and Alice looked very anxiously into its face to\n
126 \n
127      Beau--ootiful Soo--oop!\n
128 ‘Shall we try another figure of the Lobster Quadrille?’ the Gryphon went\n
129 \n
130 tone, ‘I’m afraid I’ve offended it again!’ For the Mouse was swimming\n
131 \n
132 \n
133 \n
134 away. ‘You insult me by talking such nonsense!’\n
135 ‘You’ll see me there,’ said the Cat, and vanished.\n
136    Waiting in a hot tureen!\n
137 bats eat cats?’ for, you see, as she couldn’t answer either question,\n
138 was not a VERY good opportunity for showing off her knowledge, as there\n
139 leaves: ‘I should have liked teaching it tricks very much, if--if I’d\n
140 \n
141 ‘--so long as I get SOMEWHERE,’ Alice added as an explanation.\n
142 \n
143 aloud; and in another moment it was out of sight.\n
144 ‘Only a thimble,’ said Alice sadly.\n
145 wag my tail when I’m angry. Therefore I’m mad.’\n
146 (she was obliged to say ‘creatures,’ you see, because some of them were\n
147 ‘But what am I to do?’ said Alice.\n
148 Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".
    city
1   Albany
2   Reno
3   SQL City
4   SQL City
5   Memphis
6   Round Lake Beach
7   Jacksonville
8   Springdale
9   Murfreesboro
10  Temecula
11  Santa Clarita
12  Waterbury
13  Laredo
14  Amarillo
15  Colorado Springs
16  Madison
17  Chandler
18  Ontario
19  Manchester
20  Mobile
21  Thousand Oaks
22  Bonita Springs
23  Syracuse
24  Denver
25  Evansville
26  Louisville
27  Grand Rapids
28  Paterson
29  North Charleston
30  Indianapolis
⋮   ⋮
119 North Port
120 Normal
121 Kalamazoo
122 Boise
123 Gilbert
124 Scottsdale
125 Lexington
126 Pompano Beach
127 Visalia
128 Bel Air
129 Winter Haven
130 Baltimore
131 Naples
132 Tampa
133 Austin
134 Fort Collins
135 Lake Charles
136 Duluth
137 Odessa
138 Oceanside
139 Lorain
140 New Orleans
141 Davidson County
142 Kansas City
143 Winter Haven
144 St. Petersburg
145 Appleton
146 Toledo
147 Spokane
148 SQL City

In [16]:
#Select all records from the table drivers_license where the eye color is amber:

# View data in drivers license table
practice <- dbSendQuery(db, "SELECT * 
                        FROM drivers_license
                        ")
dbFetch(practice)

# Practice Question
practice2 <-dbSendQuery(db, "SELECT * 
                        FROM drivers_license
                        WHERE eye_color='amber'
                        ")
dbFetch(practice2)

Warning message:
"Closing open result set, pending rows"

      id     age height eye_color hair_color gender plate_number car_make
1     100280 72  57     brown     red        male   P24L4U       Acura
2     100460 63  72     brown     brown      female XF02T6       Cadillac
3     101029 62  74     green     green      female VKY5KR       Scion
4     101198 43  54     amber     brown      female Y5NZ08       Nissan
5     101255 18  79     blue      grey       female 5162Z1       Lexus
6     101494 48  55     blue      red        female 81X1N7       Kia
7     101568 53  78     brown     blue       male   SJ57LL       Saab
8     101586 57  70     amber     brown      male   31U1KE       Jaguar
9     101611 40  65     blue      white      female 5O8VW7       GMC
10    101613 81  58     brown     grey       female 5PCQB5       GMC
11    101640 87  67     amber     black      male   3U18J6       Volvo
12    101726 78  81     blue      blue       female 236T17       Oldsmobile
13    101773 55  57     amber     black      female VK5SOO       Chevrolet
14    101782 57  61     amber     green      female 0LX0QI       Toyota
15    101836 56  51     blue      grey       female 3VSG76       Hyundai
16    101859 31  71     blue      blonde     female 02B7L4       Nissan
17    101862 26  75     green     blonde     male   LQ23Y5       Nissan
18    101909 84  52     amber     brown      male   5Y633C       Ford
19    102089 75  52     blue      blonde     female 2QL48Q       GMC
20    102182 66  63     green     white      male   JI6481       Saturn
21    102307 28  74     black     green      female 30A1X3       Dodge
22    102355 29  67     blue      blonde     male   7K625Q       Ford
23    102536 21  76     blue      blonde     male   3DG322       Suzuki
24    102648 63  70     black     blue       female JHB3F7       Buick
25    102710 31  63     black     blonde     female 0UNSTD       Buick
26    102844 30  62     blue      blue       male   471TX3       Chevrolet
27    102926 72  60     blue      blue       female 4635J3       GMC
28    102950 56  78     brown     red        male   4BR8A0       Honda
29    103085 59  70     blue      white      male   710NU4       Oldsmobile
30    103138 37  65     brown     blonde     male   T6TV0T       Ford
⋮     ⋮      ⋮   ⋮      ⋮         ⋮          ⋮      ⋮            ⋮
9978  996996 20  56     black     green      female 5Y0W6U       Maserati
9979  997044 59  59     brown     white      male   80E164       Lexus
9980  997251 27  79     amber     green      female A5A658       Volkswagen
9981  997283 50  82     amber     blue       male   NOTT82       Ford
9982  997554 35  50     brown     white      male   27M0VW       Hyundai
9983  997586 39  64     brown     grey       female DZTE7O       Cadillac
9984  997610 35  68     amber     white      male   N72K7G       Dodge
9985  997703 23  51     brown     white      male   5G60IA       Hyundai
9986  997724 65  73     blue      blonde     male   640570       Toyota
9987  997909 26  77     black     blue       female VJM87S       Mazda
9988  997950 84  69     blue      grey       female 66DP8D       Infiniti
9989  998079 35  77     amber     blonde     male   00X535       Honda
9990  998114 46  50     blue      brown      female I0GI33       Mercedes-Benz
9991  998157 61  54     amber     black      male   105077       BMW
9992  998194 59  65     black     red        female U85D0X       Mitsubishi
9993  998237 39  65     amber     black      male   V13Y51       Acura
9994  998262 36  54     amber     black      female 5T8618       Lexus
9995  998334 49  53     green     green      male   CYB421       Audi
9996  998350 20  78     amber     grey       male   6HRAXP       Mitsubishi
9997  998476 48  72     black     blue       female YC22H2       Cadillac
9998  998681 65  67     blue      green      female 7N21H3       Chrysler
9999  998741 60  62     amber     blue       female 886XH6       Honda
10000 999374 60  54     black     red        male   PKO8N7       BMW
10001 999509 42  80     amber     blue       female 8E403S       Morgan
10002 999536 56  65     green     green      female 4FFUD5       Mercury
10003 999923 19  77     amber     black      female 5L0ZI4       GMC
10004 999940 71  61     green     green      male   1B8QN8       Mitsubishi
10005 999981 67  69     brown     blue       female 1684K3       Land Rover
10006 999986 49  58     green     grey       male   F8F64H       Lexus
10007 999993 18  63     black     black      female 6UZO2O       Cadillac
      car_model
1     MDX
2     SRX
3     xB
4     Rogue
5     GS
6     Sportage
7     9-5
8     XK
9     Sierra Denali
10    Sierra 2500
11    S60
12    Intrigue
13    Express 1500
14    Matrix
15    Azera
16    Pathfinder
17    350Z
18    E-Series
19    Savana 3500
20    S-Series
21    Ram Van 3500
22    F350
23    Grand Vitara
24    LaCrosse
25    Regal
26    Trailblazer
27    Savana 1500
28    Insight
29    Cutlass
30    Focus
⋮     ⋮
9978  Quattroporte
9979  GS
9980  Jetta
9981  Explorer
9982  Equus
9983  XLR-V
9984  Neon
9985  Santa Fe
9986  Highlander
9987  Protege
9988  G37
9989  Accord Crosstour
9990  SLK-Class
9991  650
9992  Lancer Evolution
9993  NSX
9994  SC
9995  A8
9996  Lancer
9997  CTS
9998  Aspen
9999  Insight
10000 530
10001 Aero 8
10002 Sable
10003 Sierra 3500
10004 Eclipse
10005 LR2
10006 LS
10007 DeVille

Warning message:
"Closing open result set, pending rows"

     id     age height eye_color hair_color gender plate_number car_make
1    101198 43  54     amber     brown      female Y5NZ08       Nissan
2    101586 57  70     amber     brown      male   31U1KE       Jaguar
3    101640 87  67     amber     black      male   3U18J6       Volvo
4    101773 55  57     amber     black      female VK5SOO       Chevrolet
5    101782 57  61     amber     green      female 0LX0QI       Toyota
6    101909 84  52     amber     brown      male   5Y633C       Ford
7    103197 38  73     amber     red        female 273D0J       Saab
8    103417 63  54     amber     white      male   12LBWW       Ford
9    106226 49  70     amber     blonde     female 2P1B3P       Mazda
10   106354 61  60     amber     grey       female 7P62RU       BMW
11   107014 70  71     amber     white      female FSV573       Mercedes-Benz
12   107867 48  50     amber     blue       male   FK47DF       Chevrolet
13   109100 70  64     amber     blue       male   8MRTMS       Chevrolet
14   109317 62  59     amber     blonde     male   EWP01K       Saturn
15   110047 54  82     amber     blue       male   U22R1T       BMW
16   110991 25  59     amber     black      male   75Q187       Chevrolet
17   111120 79  66     amber     white      female R272NI       Aston Martin
18   111327 47  69     amber     blue       male   2SV878       Land Rover
19   111403 31  66     amber     black      male   UW56PM       Jeep
20   112548 76  64     amber     blonde     female Q87DM7       Acura
21   112994 36  62     amber     black      male   12W3JK       Dodge
22   113523 37  74     amber     black      female 5352M7       Mazda
23   114723 69  57     amber     red        female 1F883V       HUMMER
24   115180 83  53     amber     red        male   R202IE       Pontiac
25   116374 59  71     amber     brown      female Y0U2TM       Dodge
26   116393 57  79     amber     red        female 2512O1       Chevrolet
27   116885 46  71     amber     black      male   WM6IZ4       Pontiac
28   117138 74  69     amber     green      male   63TQVD       Chevrolet
29   117514 39  52     amber     red        male   IU6H80       Toyota
30   118484 57  82     amber     blue       male   H746K7       Land Rover
⋮    ⋮      ⋮   ⋮      ⋮         ⋮          ⋮      ⋮            ⋮
1918 988055 86  75     amber     white      female 52BT58       Dodge
1919 988489 72  70     amber     green      male   25IVRF       Ford
1920 988768 44  78     amber     blonde     male   76M0WF       Hyundai
1921 988821 68  67     amber     brown      male   84I5ZH       Saturn
1922 989414 79  56     amber     blonde     male   E31J27       Mitsubishi
1923 990210 46  50     amber     grey       male   8M2ZI6       Dodge
1924 990260 56  57     amber     blonde     female 80KUI4       Mazda
1925 990554 40  63     amber     white      male   XH2QC0       Chrysler
1926 990991 20  68     amber     black      female 21N42F       Jaguar
1927 992091 47  63     amber     blue       female 0Y0N7W       Dodge
1928 992138 47  77     amber     red        male   AYYUK7       Nissan
1929 992155 59  70     amber     white      female UP5Z88       Chrysler
1930 992778 30  55     amber     blue       female 0X446Z       Hummer
1931 993345 82  56     amber     blonde     female D88D3H       GMC
1932 993748 44  66     amber     red        female GONCC5       Honda
1933 994470 84  53     amber     blue       female K316N0       Aston Martin
1934 995020 54  52     amber     black      female ZI4PY8       Mazda
1935 995922 77  60     amber     blue       female IS2LA5       Ford
1936 996490 83  78     amber     green      male   SGM1F3       Mercedes-Benz
1937 997251 27  79     amber     green      female A5A658       Volkswagen
1938 997283 50  82     amber     blue       male   NOTT82       Ford
1939 997610 35  68     amber     white      male   N72K7G       Dodge
1940 998079 35  77     amber     blonde     male   00X535       Honda
1941 998157 61  54     amber     black      male   105077       BMW
1942 998237 39  65     amber     black      male   V13Y51       Acura
1943 998262 36  54     amber     black      female 5T8618       Lexus
1944 998350 20  78     amber     grey       male   6HRAXP       Mitsubishi
1945 998741 60  62     amber     blue       female 886XH6       Honda
1946 999509 42  80     amber     blue       female 8E403S       Morgan
1947 999923 19  77     amber     black      female 5L0ZI4       GMC
     car_model
1    Rogue
2    XK
3    S60
4    Express 1500
5    Matrix
6    E-Series
7    9-7X
8    F-Series Super Duty
9    Mazdaspeed 3
10   760
11   C-Class
12   Monte Carlo
13   Cavalier
14   Aura
15   5 Series
16   Classic
17   DBS
18   LR3
19   Compass
20   MDX
21   Ram
22   Tribute
23   H3
24   GTO
25   Ram
26   Astro
27   Bonneville
28   Express 3500
29   Camry Hybrid
30   Freelander
⋮    ⋮
1918 Challenger
1919 Freestyle
1920 Tiburon
1921 L-Series
1922 Endeavor
1923 Ram
1924 CX-9
1925 Town & Country
1926 XK Series
1927 Ram 3500
1928 350Z
1929 Prowler
1930 H3
1931 Savana
1932 Fit
1933 V8 Vantage S
1934 Mazda5
1935 Taurus
1936 SL-Class
1937 Jetta
1938 Explorer
1939 Neon
1940 Accord Crosstour
1941 650
1942 NSX
1943 SC
1944 Lancer
1945 Insight
1946 Aero 8
1947 Sierra 3500

In [19]:
#Select distinct records of eye_color from the table drivers_license:
practice3 <- dbSendQuery(db, "SELECT DISTINCT eye_color
                        FROM drivers_license
                        ")
dbFetch(practice3)

  eye_color
1 brown
2 green
3 amber
4 blue
5 black

In [20]:
#Select distinct records of name from the table person:
practice4 <- dbSendQuery(db, "SELECT DISTINCT name
                        FROM person
                        ")
dbFetch(practice4)

Warning message:
"Closing open result set, pending rows"

      name
1     Christoper Peteuil
2     Kourtney Calderwood
3     Muoi Cary
4     Era Moselle
5     Trena Hornby
6     Antione Godbolt
7     Kyra Buen
8     Francesco Agundez
9     Leslie Thate
10    Alva Conkel
11    Denver Barness
12    Yessenia Fossen
13    Brittney Garfield
14    Adolfo Milbury
15    Shanita Grigaliunas
16    Cory Rodriquz
17    Sandy Braim
18    Alyssa Wacaster
19    Candra Laguardia
20    Everett Flasher
21    Ted Denfip
22    Harley Dearmore
23    Dominique Kelcourse
24    Tawnya Soenksen
25    Lynette Gehrlein
26    Dayna Hamiter
27    Alysha Laba
28    Rogelio Gundersen
29    Vern Knochel
30    Rogelio Trullinger
⋮     ⋮
9982  Idalia Warsham
9983  Jenny Forbess
9984  Thea Leeks
9985  Deon Jex
9986  Miranda Priestly
9987  Lucy Kunis
9988  Joane Ealey
9989  Ashely Katoh
9990  Tarra Charron
9991  Michal Duenez
9992  Ivy Kazarian
9993  Kurt Leota
9994  Hattie Hertel
9995  Jacob Alegar
9996  Modesto Inniss
9997  Sadye Seiger
9998  Colene Newland
9999  Kirk Samperi
10000 Edwardo Dicamillo
10001 Cecily Guiterez
10002 Letha Phelts
10003 Zachary Vosburg
10004 Palmer Servano
10005 Jade Gardenas
10006 Cherish Aspell
10007 Luba Benser
10008 Roxana Mckimley
10009 Cherie Zeimantz
10010 Allen Cruse
10011 Vance Hunten

In [21]:
#Select distinct records of gender AND car_model from the table drivers_license:
practice5 <- dbSendQuery(db, "SELECT DISTINCT gender, car_model
                        FROM drivers_license
                        ")
dbFetch(practice5)

Warning message:
"Closing open result set, pending rows"

     gender car_model
1    male   MDX
2    female SRX
3    female xB
4    female Rogue
5    female GS
6    female Sportage
7    male   9-5
8    male   XK
9    female Sierra Denali
10   female Sierra 2500
11   male   S60
12   female Intrigue
13   female Express 1500
14   female Matrix
15   female Azera
16   female Pathfinder
17   male   350Z
18   male   E-Series
19   female Savana 3500
20   male   S-Series
21   female Ram Van 3500
22   male   F350
23   male   Grand Vitara
24   female LaCrosse
25   female Regal
26   male   Trailblazer
27   female Savana 1500
28   male   Insight
29   male   Cutlass
30   male   Focus
⋮    ⋮      ⋮
1341 male   Typ-1
1342 female Sierra 3500HD
1343 female Ipsum
1344 male   FF
1345 female 207
1346 female C-MAX Hybrid
1347 male   Firebird Formula
1348 male   430 Scuderia
1349 male   FCX Clarity
1350 male   Silverado Hybrid
1351 female NV2500
1352 male   G-Series 3500
1353 male   Crosstour
1354 male   SLK55 AMG
1355 female 900
1356 female Model X
1357 male   SLX
1358 female rio
1359 male   G35
1360 female Typ-1
1361 male   Grand Voyager
1362 male   Brooklands
1363 male   Spectra5
1364 male   NV2500
1365 male   Leaf
1366 female 550
1367 female Prius c
1368 female BRZ
1369 male   Mark LT
1370 female HED-5

In [22]:
#Select distinct records of type and city from the table crime_scene_report:
practice6 <- dbSendQuery(db, "SELECT DISTINCT type, city
                        FROM crime_scene_report
                        ")
dbFetch(practice6)

Warning message:
"Closing open result set, pending rows"

     type      city
1    robbery   NYC
2    murder    Albany
3    murder    Reno
4    murder    SQL City
5    theft     Chicago
6    fraud     Seattle
7    theft     SQL City
8    arson     SQL City
9    robbery   SQL City
10   bribery   SQL City
11   assault   SQL City
12   fraud     Long Beach
13   fraud     Oceanside
14   smuggling Gilbert
15   assault   Nashville
16   arson     Las Vegas
17   bribery   Riverside
18   theft     Canton
19   smuggling Alexandria
20   arson     Rochester
21   blackmail Lacey
22   theft     McAllen
23   robbery   Seaside
24   blackmail Lewisville
25   blackmail Jackson
26   theft     High Point
27   bribery   Lorain
28   smuggling Savannah
29   blackmail Newark
30   theft     Oklahoma City
⋮    ⋮         ⋮
1014 blackmail Hemet
1015 assault   Tuscaloosa
1016 assault   Port Arthur
1017 blackmail Madison
1018 arson     Naperville
1019 arson     New York
1020 arson     Louisville
1021 robbery   San Francisco
1022 blackmail Chula Vista
1023 robbery   Hesperia
1024 bribery   Thousand Oaks
1025 smuggling Trenton
1026 assault   New Bedford
1027 theft     Danbury
1028 theft     Mobile
1029 blackmail Laredo
1030 arson     Leominster
1031 murder    St. Petersburg
1032 murder    Appleton
1033 fraud     Memphis
1034 assault   Hickory
1035 arson     Denton
1036 blackmail Lorain
1037 murder    Toledo
1038 murder    Spokane
1039 robbery   Trenton
1040 bribery   Garden Grove
1041 fraud     Houma
1042 assault   Fontana
1043 assault   Trenton

In [23]:
#Select all records from table drivers_license where the age is == 48:
practice7 <- dbSendQuery(db, "SELECT * 
                        FROM drivers_license
                        WHERE age = 48
                        ")
dbFetch(practice7)

Warning message:
"Closing open result set, pending rows"

    id     age height eye_color hair_color gender plate_number car_make
1   101494 48  55     blue      red        female 81X1N7       Kia
2   105188 48  80     blue      black      male   R4Z3OC       Land Rover
3   107867 48  50     amber     blue       male   FK47DF       Chevrolet
4   117726 48  70     brown     red        male   7JUJCY       Honda
5   124854 48  60     blue      grey       female RH14TP       Bentley
6   126842 48  81     black     blonde     male   36Y8B2       Mercury
7   128963 48  58     black     blue       male   4OXLFT       Chevrolet
8   145861 48  52     green     black      male   3FCC44       Jaguar
9   146075 48  72     amber     brown      male   Q3EJ3J       Mercury
10  153375 48  52     blue      white      female QB312N       Honda
11  156265 48  78     amber     grey       female 611C13       GMC
12  156703 48  82     blue      brown      female HGP051       GMC
13  165928 48  66     brown     blue       female LXQ240       Volkswagen
14  171971 48  71     brown     blue       female P85YY2       Subaru
15  178229 48  64     amber     blonde     male   D60661       Jeep
16  188173 48  67     black     brown      female UIMN3Y       Nissan
17  189336 48  58     amber     green      female 1H2QPA       Nissan
18  206586 48  62     blue      blue       female 0I7BJZ       Porsche
19  232814 48  57     brown     blue       female 6617MV       Cadillac
20  233201 48  64     black     green      male   GU1Y31       Subaru
21  243406 48  62     brown     red        male   SNO645       Buick
22  251947 48  73     black     brown      female 63N13A       Chevrolet
23  263855 48  67     blue      blonde     male   050244       Chevrolet
24  271124 48  52     blue      blue       female X64L58       Mercedes-Benz
25  282712 48  58     blue      black      female 71XY33       Nissan
26  299836 48  63     green     grey       female 3ZF03W       Infiniti
27  301876 48  58     brown     green      female S1F47M       Nissan
28  301996 48  59     green     red        female 81CZ54       Nissan
29  325368 48  51     black     red        female 363N5H       Infiniti
30  325685 48  58     brown     blonde     male   FZY1IV       Ford
⋮   ⋮      ⋮   ⋮      ⋮         ⋮          ⋮      ⋮            ⋮
99  796792 48  50     black     white      female V7Z64W       Pontiac
100 803372 48  53     blue      blue       male   Y405P5       Audi
101 808317 48  68     black     black      female H5R4X6       GMC
102 808745 48  74     amber     black      male   5ZWZB1       Suzuki
103 813883 48  50     brown     brown      male   56HP3G       Acura
104 814103 48  80     green     green      male   0553BS       Honda
105 824741 48  52     amber     black      female 8IR2Q7       Saab
106 847504 48  50     black     black      male   QMXQFE       Chevrolet
107 855670 48  56     amber     brown      female 02W0K6       Aston Martin
108 855963 48  54     blue      black      female 0R6SN0       BMW
109 861744 48  55     green     green      male   T7230G       Mazda
110 869336 48  75     blue      brown      male   M0WV8T       Saab
111 875882 48  64     brown     red        male   7YQXE1       Jeep
112 876520 48  71     amber     brown      male   6L5F12       Dodge
113 903431 48  67     black     blonde     male   YF1TQJ       Volvo
114 911727 48  76     green     grey       female 80481Y       Pontiac
115 918773 48  65     black     red        female 917UU3       Tesla
116 927494 48  82     amber     green      male   81104V       Acura
117 931228 48  78     brown     brown      female 1W2QXC       Ford
118 934283 48  68     blue      green      male   T8W6D1       Dodge
119 950762 48  70     green     green      male   3T0851       Rolls-Royce
120 951621 48  69     blue      grey       male   QWG8AW       Volvo
121 955889 48  57     amber     brown      male   8KT2A4       Nissan
122 956755 48  77     amber     green      female Q0SJVO       Jeep
123 965397 48  68     blue      black      female 1G788A       GMC
124 968887 48  64     brown     red        male   SB7H43       Honda
125 969472 48  51     amber     grey       female 4K4JNI       Lexus
126 970725 48  54     amber     blue       female A3P5ZJ       Audi
127 981392 48  63     green     grey       male   Z0137N       Mazda
128 998476 48  72     black     blue       female YC22H2       Cadillac
    car_model
1   Sportage
2   Range Rover Sport
3   Monte Carlo
4   Civic
5   Continental Flying Spur
6   Sable
7   Express 3500
8   XK Series
9   Grand Marquis
10  Odyssey
11  Sierra 1500
12  Sierra 2500
13  Golf
14  Legacy
15  Grand Cherokee
16  Maxima
17  Sentra
18  911
19  SRX
20  Legacy
21  Enclave
22  Express
23  Malibu
24  R-Class
25  Xterra
26  G
27  350Z
28  Versa
29  EX
30  Explorer
⋮   ⋮
99  G6
100 Q5
101 Sierra 3500
102 Daewoo Lacetti
103 RSX
104 Fit
105 9-7X
106 Silverado 1500
107 DBS
108 530
109 Tribute
110 9-3
111 Patriot
112 Neon
113 S40
114 Solstice
115 Model S
116 Integra
117 Taurus
118 Viper
119 Phantom
120 C70
121 Pathfinder
122 Grand Cherokee
123 Savana 1500
124 Ridgeline
125 ES
126 A6
127 MX-5
128 CTS

In [24]:
#Select all records from table drivers_license where the age is less than 48:
practice8 <- dbSendQuery(db, "SELECT * 
                        FROM drivers_license
                        WHERE age < 48
                        ")
dbFetch(practice8)

Warning message:
"Closing open result set, pending rows"

     id     age height eye_color hair_color gender plate_number car_make
1    101198 43  54     amber     brown      female Y5NZ08       Nissan
2    101255 18  79     blue      grey       female 5162Z1       Lexus
3    101611 40  65     blue      white      female 5O8VW7       GMC
4    101859 31  71     blue      blonde     female 02B7L4       Nissan
5    101862 26  75     green     blonde     male   LQ23Y5       Nissan
6    102307 28  74     black     green      female 30A1X3       Dodge
7    102355 29  67     blue      blonde     male   7K625Q       Ford
8    102536 21  76     blue      blonde     male   3DG322       Suzuki
9    102710 31  63     black     blonde     female 0UNSTD       Buick
10   102844 30  62     blue      blue       male   471TX3       Chevrolet
11   103138 37  65     brown     blonde     male   T6TV0T       Ford
12   103197 38  73     amber     red        female 273D0J       Saab
13   103260 22  59     brown     blonde     female G67F83       Ford
14   103725 40  57     black     green      female 81WZ22       Land Rover
15   103838 46  81     black     blue       female 5SACV2       Mercedes-Benz
16   104476 31  69     brown     black      female 625W28       GMC
17   104732 47  68     black     blonde     female FHX41Z       Volvo
18   105064 20  53     black     blue       male   25UO1B       Mercedes-Benz
19   105435 45  57     black     green      male   Q54862       Mitsubishi
20   105508 26  71     green     white      female H73WE4       GMC
21   105678 27  76     brown     black      female ASNL05       Oldsmobile
22   106921 26  78     black     white      female 75YNFS       Volvo
23   107435 24  74     green     red        female 57JV7G       Jeep
24   107985 29  57     black     green      male   QQP4HL       Mazda
25   108077 26  69     brown     brown      female LXD1AM       Mercedes-Benz
26   108374 18  63     brown     red        male   X2KE6N       Ford
27   108832 41  81     green     blue       male   F4B836       Mitsubishi
28   109238 35  76     brown     brown      female O771Z2       Ford
29   109249 47  62     blue      grey       male   6D4J60       Subaru
30   109596 30  75     brown     red        female 861GR4       Ford
⋮    ⋮      ⋮   ⋮      ⋮         ⋮          ⋮      ⋮            ⋮
4251 992923 20  77     black     brown      female GT0EX0       MINI
4252 992954 40  53     black     blonde     female 1QX3S8       Lexus
4253 993030 26  76     black     blue       male   LQYOU4       Kia
4254 993492 35  61     brown     white      male   4F770H       Hyundai
4255 993550 25  63     green     brown      male   08BEC0       Chevrolet
4256 993613 34  56     brown     green      female YL0MD2       Chevrolet
4257 993703 35  77     blue      brown      male   0SD4VG       Buick
4258 993748 44  66     amber     red        female GONCC5       Honda
4259 993845 46  59     black     green      male   557472       Chrysler
4260 994074 25  62     brown     grey       female 5OQ074       Suzuki
4261 995344 33  69     blue      green      male   N63WI3       Kia
4262 995406 32  69     brown     white      male   KJ7211       Volvo
4263 996059 26  53     blue      blue       male   4T6I25       Land Rover
4264 996155 41  74     black     white      female 703200       Hyundai
4265 996454 34  76     blue      green      male   528217       GMC
4266 996996 20  56     black     green      female 5Y0W6U       Maserati
4267 997251 27  79     amber     green      female A5A658       Volkswagen
4268 997554 35  50     brown     white      male   27M0VW       Hyundai
4269 997586 39  64     brown     grey       female DZTE7O       Cadillac
4270 997610 35  68     amber     white      male   N72K7G       Dodge
4271 997703 23  51     brown     white      male   5G60IA       Hyundai
4272 997909 26  77     black     blue       female VJM87S       Mazda
4273 998079 35  77     amber     blonde     male   00X535       Honda
4274 998114 46  50     blue      brown      female I0GI33       Mercedes-Benz
4275 998237 39  65     amber     black      male   V13Y51       Acura
4276 998262 36  54     amber     black      female 5T8618       Lexus
4277 998350 20  78     amber     grey       male   6HRAXP       Mitsubishi
4278 999509 42  80     amber     blue       female 8E403S       Morgan
4279 999923 19  77     amber     black      female 5L0ZI4       GMC
4280 999993 18  63     black     black      female 6UZO2O       Cadillac
     car_model
1    Rogue
2    GS
3    Sierra Denali
4    Pathfinder
5    350Z
6    Ram Van 3500
7    F350
8    Grand Vitara
9    Regal
10   Trailblazer
11   Focus
12   9-7X
13   E250
14   Freelander
15   S-Class
16   Envoy
17   XC90
18   SL-Class
19   Montero
20   Sierra 2500
21   Silhouette
22   V70
23   Grand Cherokee
24   CX-9
25   M-Class
26   Escape
27   Pajero
28   F150
29   Forester
30   Thunderbird
⋮    ⋮
4251 Cooper
4252 IS
4253 Sedona
4254 Sonata
4255 Corvette
4256 3500
4257 Lucerne
4258 Fit
4259 Town & Country
4260 XL-7
4261 Sportage
4262 S80
4263 Freelander
4264 HED-5
4265 Savana 3500
4266 Quattroporte
4267 Jetta
4268 Equus
4269 XLR-V
4270 Neon
4271 Santa Fe
4272 Protege
4273 Accord Crosstour
4274 SLK-Class
4275 NSX
4276 SC
4277 Lancer
4278 Aero 8
4279 Sierra 3500
4280 DeVille

In [25]:
#Select all records from table drivers_license where the age is less than OR equal to 48:
#Do you see a difference in the number of rows? Yes, more rows
practice8 <- dbSendQuery(db, "SELECT * 
                        FROM drivers_license
                        WHERE age <= 48
                        ")
dbFetch(practice8)

Warning message:
"Closing open result set, pending rows"

     id     age height eye_color hair_color gender plate_number car_make
1    101198 43  54     amber     brown      female Y5NZ08       Nissan
2    101255 18  79     blue      grey       female 5162Z1       Lexus
3    101494 48  55     blue      red        female 81X1N7       Kia
4    101611 40  65     blue      white      female 5O8VW7       GMC
5    101859 31  71     blue      blonde     female 02B7L4       Nissan
6    101862 26  75     green     blonde     male   LQ23Y5       Nissan
7    102307 28  74     black     green      female 30A1X3       Dodge
8    102355 29  67     blue      blonde     male   7K625Q       Ford
9    102536 21  76     blue      blonde     male   3DG322       Suzuki
10   102710 31  63     black     blonde     female 0UNSTD       Buick
11   102844 30  62     blue      blue       male   471TX3       Chevrolet
12   103138 37  65     brown     blonde     male   T6TV0T       Ford
13   103197 38  73     amber     red        female 273D0J       Saab
14   103260 22  59     brown     blonde     female G67F83       Ford
15   103725 40  57     black     green      female 81WZ22       Land Rover
16   103838 46  81     black     blue       female 5SACV2       Mercedes-Benz
17   104476 31  69     brown     black      female 625W28       GMC
18   104732 47  68     black     blonde     female FHX41Z       Volvo
19   105064 20  53     black     blue       male   25UO1B       Mercedes-Benz
20   105188 48  80     blue      black      male   R4Z3OC       Land Rover
21   105435 45  57     black     green      male   Q54862       Mitsubishi
22   105508 26  71     green     white      female H73WE4       GMC
23   105678 27  76     brown     black      female ASNL05       Oldsmobile
24   106921 26  78     black     white      female 75YNFS       Volvo
25   107435 24  74     green     red        female 57JV7G       Jeep
26   107867 48  50     amber     blue       male   FK47DF       Chevrolet
27   107985 29  57     black     green      male   QQP4HL       Mazda
28   108077 26  69     brown     brown      female LXD1AM       Mercedes-Benz
29   108374 18  63     brown     red        male   X2KE6N       Ford
30   108832 41  81     green     blue       male   F4B836       Mitsubishi
⋮    ⋮      ⋮   ⋮      ⋮         ⋮          ⋮      ⋮            ⋮
4379 992954 40  53     black     blonde     female 1QX3S8       Lexus
4380 993030 26  76     black     blue       male   LQYOU4       Kia
4381 993492 35  61     brown     white      male   4F770H       Hyundai
4382 993550 25  63     green     brown      male   08BEC0       Chevrolet
4383 993613 34  56     brown     green      female YL0MD2       Chevrolet
4384 993703 35  77     blue      brown      male   0SD4VG       Buick
4385 993748 44  66     amber     red        female GONCC5       Honda
4386 993845 46  59     black     green      male   557472       Chrysler
4387 994074 25  62     brown     grey       female 5OQ074       Suzuki
4388 995344 33  69     blue      green      male   N63WI3       Kia
4389 995406 32  69     brown     white      male   KJ7211       Volvo
4390 996059 26  53     blue      blue       male   4T6I25       Land Rover
4391 996155 41  74     black     white      female 703200       Hyundai
4392 996454 34  76     blue      green      male   528217       GMC
4393 996996 20  56     black     green      female 5Y0W6U       Maserati
4394 997251 27  79     amber     green      female A5A658       Volkswagen
4395 997554 35  50     brown     white      male   27M0VW       Hyundai
4396 997586 39  64     brown     grey       female DZTE7O       Cadillac
4397 997610 35  68     amber     white      male   N72K7G       Dodge
4398 997703 23  51     brown     white      male   5G60IA       Hyundai
4399 997909 26  77     black     blue       female VJM87S       Mazda
4400 998079 35  77     amber     blonde     male   00X535       Honda
4401 998114 46  50     blue      brown      female I0GI33       Mercedes-Benz
4402 998237 39  65     amber     black      male   V13Y51       Acura
4403 998262 36  54     amber     black      female 5T8618       Lexus
4404 998350 20  78     amber     grey       male   6HRAXP       Mitsubishi
4405 998476 48  72     black     blue       female YC22H2       Cadillac
4406 999509 42  80     amber     blue       female 8E403S       Morgan
4407 999923 19  77     amber     black      female 5L0ZI4       GMC
4408 999993 18  63     black     black      female 6UZO2O       Cadillac
     car_model
1    Rogue
2    GS
3    Sportage
4    Sierra Denali
5    Pathfinder
6    350Z
7    Ram Van 3500
8    F350
9    Grand Vitara
10   Regal
11   Trailblazer
12   Focus
13   9-7X
14   E250
15   Freelander
16   S-Class
17   Envoy
18   XC90
19   SL-Class
20   Range Rover Sport
21   Montero
22   Sierra 2500
23   Silhouette
24   V70
25   Grand Cherokee
26   Monte Carlo
27   CX-9
28   M-Class
29   Escape
30   Pajero
⋮    ⋮
4379 IS
4380 Sedona
4381 Sonata
4382 Corvette
4383 3500
4384 Lucerne
4385 Fit
4386 Town & Country
4387 XL-7
4388 Sportage
4389 S80
4390 Freelander
4391 HED-5
4392 Savana 3500
4393 Quattroporte
4394 Jetta
4395 Equus
4396 XLR-V
4397 Neon
4398 Santa Fe
4399 Protege
4400 Accord Crosstour
4401 SLK-Class
4402 NSX
4403 SC
4404 Lancer
4405 CTS
4406 Aero 8
4407 Sierra 3500
4408 DeVille

In [26]:
#Select all records from table get_fit_now_check_in and order by check_in_date:
#Do you see a difference in the number of rows?
practice9 <- dbSendQuery(db, "SELECT * 
                        FROM get_fit_now_check_in
                        ORDER by check_in_date
                        ")
dbFetch(practice9)

Warning message:
"Closing open result set, pending rows"

     membership_id check_in_date check_in_time check_out_time
1    82GA2         20170101       431          1116
2    KE0FH         20170101       375           447
3    C84S4         20170101       580           864
4    XTE42         20170101      1188          1199
5    TQU5U         20170101       381          1069
6    J2033         20170101       242           955
7    C581L         20170101        23          1071
8    3JP0X         20170101       154           609
9    355UU         20170102       749           813
10   I827Y         20170102       270           469
11   20U07         20170102       698          1120
12   0EY7M         20170102       618          1190
13   8I2HW         20170102        67           259
14   5VK83         20170103       939          1084
15   3S8Z0         20170103       303           686
16   5Y85X         20170104       951          1019
17   31A6U         20170104       276          1197
18   CZ1H8         20170104       493          1096
19   D8FT1         20170105      1094          1134
20   551F6         20170105       750          1155
21   QSD41         20170105       230          1042
22   R4J4S         20170106        87           945
23   72H2C         20170106       439           621
24   J5IO8         20170106        15          1104
25   TLF67         20170106       523           901
26   X1IYH         20170106       739           827
27   2P828         20170106       136           541
28   2STMK         20170106       900          1003
29   MORMA         20170106       995          1035
30   KE0FH         20170107       645          1107
⋮    ⋮             ⋮             ⋮             ⋮
2674 4JX11         20180427       405           567
2675 W5YVL         20180427       502          1033
2676 48100         20180427       182           483
2677 TQU5U         20180427       607           875
2678 3JP0X         20180427        79          1085
2679 8VM1U         20180427       818           943
2680 1G2F7         20180428      1104          1144
2681 6071T         20180428       670           759
2682 2B01Y         20180428       187           484
2683 ZAB1A         20180428      1050          1157
2684 JQ162         20180428       865          1110
2685 551F6         20180428       337           620
2686 3S8Z0         20180428       620           635
2687 NL318         20180429       506           554
2688 12C5R         20180429       141           882
2689 GHDP5         20180429       964          1002
2690 6K7I8         20180429        74          1032
2691 I827Y         20180429       125           460
2692 C581L         20180429       481           707
2693 133ED         20180430      1197          1200
2694 JQ162         20180430       137           493
2695 FA4N5         20180430       440           718
2696 7A4NF         20180430       860          1143
2697 TD7DF         20180430       379          1104
2698 1YHL3         20180430       963          1094
2699 C581L         20180430        76           642
2700 0U51D         20180501        88           218
2701 7788A         20180501       532           705
2702 VHN8M         20180501       658           989
2703 MORMA         20180501      1029          1183

In [27]:
#Select all records from table get_fit_now_check_in and order by check_in_date and order by check_in_time:
#Do you see a difference in the order of the rows?
practice10 <- dbSendQuery(db, "SELECT * 
                        FROM get_fit_now_check_in
                        ORDER by check_in_date, check_in_time
                        ")
dbFetch(practice10)

Warning message:
"Closing open result set, pending rows"

     membership_id check_in_date check_in_time check_out_time
1    C581L         20170101        23          1071
2    3JP0X         20170101       154           609
3    J2033         20170101       242           955
4    KE0FH         20170101       375           447
5    TQU5U         20170101       381          1069
6    82GA2         20170101       431          1116
7    C84S4         20170101       580           864
8    XTE42         20170101      1188          1199
9    8I2HW         20170102        67           259
10   I827Y         20170102       270           469
11   0EY7M         20170102       618          1190
12   20U07         20170102       698          1120
13   355UU         20170102       749           813
14   3S8Z0         20170103       303           686
15   5VK83         20170103       939          1084
16   31A6U         20170104       276          1197
17   CZ1H8         20170104       493          1096
18   5Y85X         20170104       951          1019
19   QSD41         20170105       230          1042
20   551F6         20170105       750          1155
21   D8FT1         20170105      1094          1134
22   J5IO8         20170106        15          1104
23   R4J4S         20170106        87           945
24   2P828         20170106       136           541
25   72H2C         20170106       439           621
26   TLF67         20170106       523           901
27   X1IYH         20170106       739           827
28   2STMK         20170106       900          1003
29   MORMA         20170106       995          1035
30   MZQ3U         20170107        38           974
⋮    ⋮             ⋮             ⋮             ⋮
2674 3JP0X         20180427        79          1085
2675 48100         20180427       182           483
2676 4JX11         20180427       405           567
2677 W5YVL         20180427       502          1033
2678 TQU5U         20180427       607           875
2679 8VM1U         20180427       818           943
2680 2B01Y         20180428       187           484
2681 551F6         20180428       337           620
2682 3S8Z0         20180428       620           635
2683 6071T         20180428       670           759
2684 JQ162         20180428       865          1110
2685 ZAB1A         20180428      1050          1157
2686 1G2F7         20180428      1104          1144
2687 6K7I8         20180429        74          1032
2688 I827Y         20180429       125           460
2689 12C5R         20180429       141           882
2690 C581L         20180429       481           707
2691 NL318         20180429       506           554
2692 GHDP5         20180429       964          1002
2693 C581L         20180430        76           642
2694 JQ162         20180430       137           493
2695 TD7DF         20180430       379          1104
2696 FA4N5         20180430       440           718
2697 7A4NF         20180430       860          1143
2698 1YHL3         20180430       963          1094
2699 133ED         20180430      1197          1200
2700 0U51D         20180501        88           218
2701 7788A         20180501       532           705
2702 VHN8M         20180501       658           989
2703 MORMA         20180501      1029          1183

Now that we have practiced, let's solve this murder!

All we know at the start of our investigation is the <b>murder</b> occurred on <b>Jan.15, 2018</b> and that it took place in <b>SQL City<b>.

In [46]:
#Write a query in SQL to view the crime scene report 
#for the murder occurred on Jan.15, 2018 and that it took place in SQL City.
#Select ALL records FROM the table WHERE...
csr <- dbSendQuery(db, "SELECT *
                        FROM crime_scene_report
                        WHERE
                            date = '20180115'
                        AND city = 'SQL City'
                        AND type = 'murder'
                        ")
dbFetch(csr)

  date     type
1 20180115 murder
  description
1 Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".
  city
1 SQL City

Another clue! It looks like we have two witnesses! Now who are they and how do we find them?

In [43]:
#Write two queries in SQL to find each witness in the person table. 
#For the first query as first_witness, select all the records from person where the address_street_name 
#is Northwestern Drive and order by adress_number
#Fetch the first_witness
first_witness <- dbSendQuery(db, "SELECT *
                                FROM person
                                WHERE address_street_name = 'Northwestern Dr'
                                ORDER BY address_number
                                ")
dbFetch(first_witness)

Warning message:
"Closing open result set, pending rows"

   id    name                 license_id address_number address_street_name
1  89906 Kinsey Erickson      510019      309           Northwestern Dr
2  15171 Weldon Penso         336999      311           Northwestern Dr
3  40336 Fredia Billeter      251082      404           Northwestern Dr
4  85280 Donn Duin            569122      540           Northwestern Dr
5  12711 Norman Apolito       667757      599           Northwestern Dr
6  75484 Del Tacderen         447887      607           Northwestern Dr
7  26758 Angelena Billman     942074      629           Northwestern Dr
8  39688 Abe Roeker           537445      689           Northwestern Dr
9  10010 Muoi Cary            385336      741           Northwestern Dr
10 40760 Renata Faver         976650      745           Northwestern Dr
11 25615 Olevia Morena        388477      812           Northwestern Dr
12 99826 Ivy Kazarian         994470      892           Northwestern Dr
13 44542 Ivory Mcgrevey       873842      897           Northwestern Dr
14 55130 Shiloh Huntoon       472118      951           Northwestern Dr
15 33415 Homer Simpson        108392      981           Northwestern Dr
16 29608 Willetta Lurvey      800568     1028           Northwestern Dr
17 18376 Josh Shi             653712     1091           Northwestern Dr
18 22239 Dusty Sigafus        710517     1125           Northwestern Dr
19 70485 Andera Kostelecky    354822     1252           Northwestern Dr
20 23960 Kristopher Lagerberg 658777     1392           Northwestern Dr
21 71924 Laurie Scronce       774116     1418           Northwestern Dr
22 81052 Calvin Czelusniak    471483     1516           Northwestern Dr
23 72076 Courtney Bordeaux    324614     1707           Northwestern Dr
24 51552 Bonita Knie          764124     1726           Northwestern Dr
25 88423 Teri Ehrich          510876     1879           Northwestern Dr
26 81885 Kurtis Masuda        934201     2108           Northwestern Dr
27 96178 Galina Khuu          450248     2183           Northwestern Dr
28 80921 Donovan Yackley      222395     2386           Northwestern Dr
29 34352 Vincenza Burkhardt   436470     2512           Northwestern Dr
30 53699 Christian Pagano     628433     2585           Northwestern Dr
31 54564 Sammie Sengun        217286     2590           Northwestern Dr
32 90397 Dionna Kranwinkle    797260     2678           Northwestern Dr
33 34155 Allyson Lazenson     814209     2840           Northwestern Dr
34 59307 Cyril Yongue         753524     2903           Northwestern Dr
35 98593 Jonah Toner          578982     2947           Northwestern Dr
36 44004 Alison Eska          327797     2951           Northwestern Dr
37 68690 Yer Modest           852404     3046           Northwestern Dr
38 51114 Christena Saffell    814284     3055           Northwestern Dr
39 23044 Val Portlock         924989     3143           Northwestern Dr
40 28360 Rashad Cascone       924517     3212           Northwestern Dr
41 53076 Boris Bijou          664914     3327           Northwestern Dr
42 36378 Freddie Ellzey       267882     3449           Northwestern Dr
43 87456 Leonora Wolfsberger  215868     3483           Northwestern Dr
44 93509 Emmitt Aceuedo       916706     3491           Northwestern Dr
45 19420 Cody Schiel          890431     3524           Northwestern Dr
46 96595 Coretta Cubie        303645     3631           Northwestern Dr
47 73368 Torie Thalmann       773862     3697           Northwestern Dr
48 53890 Sophie Tiberio       957671     3755           Northwestern Dr
49 17729 Lasonya Wildey       439686     3824           Northwestern Dr
50 14887 Morty Schapiro       118009     4919           Northwestern Dr
   ssn
1  635287661
2  131379495
3  108056488
4  613873810
5  778264744
6  243821337
7  341854756
8  438969447
9  828638512
10 547572040
11 962831331
12 208359813
13 988557407
14 826647644
15 871392019
16 843751378
17 193899001
18 724386723
19 787423012
20 492912529
21 254883636
22 657531837
23 347966356
24 597137908
25 248637345
26 201272595
27 398518185
28 515049359
29 197913046
30 644772304
31 848854310
32 278964807
33 991150469
34 866057839
35 745853548
36 306417867
37 419238039
38 247657547
39 100593316
40 838907424
41 401191868
42 474117596
43 565203106
44 979073160
45 947110049
46 378403829
47 341559436
48 442830147
49 917817122
50 111564949

We have identified our first witness as Morty Schapiro. Now lets find the second!

In [34]:
#For the third query as second_witness,
#Select all the records from person where the address_street_name is Frnaklin Ave and the name includes Annabel. 
#Fetch the second_witness
second_witness <- dbSendQuery(db, "SELECT *
                                FROM person
                                WHERE name LIKE '%Annabel%'
                                    AND address_street_name='Franklin Ave'
                                ")
dbFetch(second_witness)

Warning message:
"Closing open result set, pending rows"

  id    name           license_id address_number address_street_name ssn
1 16371 Annabel Miller 490173     103            Franklin Ave        318771143

We have identified our second witness as Annabel Miller. What were their witness statements? What did they see?

In [46]:
#For our fourth query, witness_statements, lets find out what each witness saw...or claim they saw?
#Select the peron's name and interview where the person_id is X, X (Get the ID from the above queries)
witness_statements <- dbSendQuery(db, "SELECT *
                                        FROM interview
                                        WHERE person_id IN ('14887','16371')
                                        ")
                                  
dbFetch(witness_statements)

Warning message:
"Closing open result set, pending rows"

  person_id
1 14887
2 16371
  transcript
1 I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W".
2 I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.

A few new clues! Explore the different clues with multiple queries. Seems like a reliable statement!

In [52]:
#Create a query to select for the following clues: (You can create multiple queries or combine them into one and go from there.)
#Remember to write our your query in the comments!
suspects <- dbSendQuery(db, "SELECT * 
                        FROM get_fit_now_member
                        WHERE membership_status='gold'
                            AND id LIKE '%48Z%'
                        ")
dbFetch(suspects)

suspects2 <- dbSendQuery(db, "SELECT * 
                        FROM drivers_license
                        WHERE plate_number LIKE '%H42W%'
                        
                        ")
dbFetch (suspects2)

suspects3 <- dbSendQuery(db, "SELECT * 
                        FROM person
                        WHERE license_id IN ('183779','423327','664760')
                        
                        ")
dbFetch (suspects3)

Warning message:
"Closing open result set, pending rows"

  id    person_id name          membership_start_date membership_status
1 48Z7A 28819     Joe Germuska  20160305              gold
2 48Z55 67318     Jeremy Bowers 20160101              gold

Warning message:
"Closing open result set, pending rows"

  id     age height eye_color hair_color gender plate_number car_make
1 183779 21  65     blue      blonde     female H42W0X       Toyota
2 423327 30  70     brown     brown      male   0H42W2       Chevrolet
3 664760 21  71     black     black      male   4H42WR       Nissan
  car_model
1 Prius
2 Spark LS
3 Altima

Warning message:
"Closing open result set, pending rows"

  id    name           license_id address_number address_street_name
1 51739 Tushar Chandra 664760     312            Phi St
2 67318 Jeremy Bowers  423327     530            Washington Pl, Apt 3A
3 78193 Maxine Whitely 183779     110            Fisk Rd
  ssn
1 137882671
2 871539279
3 137882671

We have a suspect! Lets check their witness statement. Do they have an alibi?

In [53]:
#Remember to write our your query in the comments!
# Jeremy Bowers is the suspect
alibi <- dbSendQuery(db, "SELECT *
                        FROM interview
                        WHERE person_id IN ('67318')
                                        ")
dbFetch(alibi)

Warning message:
"Closing open result set, pending rows"

  person_id
1 67318
  transcript
1 I was hired by a woman with a lot of money. I don't know her name but I know she's around 5'5" (65") or 5'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017.\n

Uh oh...turns out it wasn't just one person behind the crime...who is this additional person involved?

In [86]:
#Remember to write our your query in the comments!
#You can complete this in a single query or multiple queries.

 suspect3.0<- dbSendQuery(db,"SELECT *
                                FROM drivers_license
                                WHERE hair_color='red'
                                    AND car_make='Tesla'
                                    AND car_model LIKE '%Model S%'
                                    
                               
                          ")

dbFetch(suspect3.0)

Warning message:
"Closing open result set, pending rows"

  id     age height eye_color hair_color gender plate_number car_make car_model
1 202298 68  66     green     red        female 500123       Tesla    Model S
2 291182 65  66     blue      red        female 08CM64       Tesla    Model S
3 736081 79  69     brown     red        male   GCAQ6Y       Tesla    Model S
4 918773 48  65     black     red        female 917UU3       Tesla    Model S

Three different people match this description! Now which one attended the SQL Symphony Concert three times?

In [94]:
#Let's find the killer!
#Remember to write our your query in the comments!
suspect3.0<- dbSendQuery(db,"SELECT *
                                FROM drivers_license
                                WHERE id='202298'
                                    
                               
                          ")

dbFetch(suspect3.0)

suspect3.0<- dbSendQuery(db,"SELECT *
                                FROM person
                                WHERE license_id='202298'
                                    
                               
                          ")

dbFetch(suspect3.0)


murderer <- dbSendQuery(db,"SELECT *
                                FROM Facebook_event_checkin
                                WHERE event_id='1143'
                                    AND date BETWEEN 20171201 AND 20171231 
                                ORDER BY person_id
                          ")


dbFetch(murderer)

Warning message:
"Closing open result set, pending rows"

  id     age height eye_color hair_color gender plate_number car_make car_model
1 202298 68  66     green     red        female 500123       Tesla    Model S

Warning message:
"Closing open result set, pending rows"

  id    name             license_id address_number address_street_name
1 99716 Miranda Priestly 202298     1883           Golden Ave
  ssn
1 987756388

Warning message:
"Closing open result set, pending rows"

   person_id event_id event_name           date
1  11173     1143     SQL Symphony Concert 20171223
2  19260     1143     SQL Symphony Concert 20171214
3  19292     1143     SQL Symphony Concert 20171213
4  24397     1143     SQL Symphony Concert 20171208
5  24556     1143     SQL Symphony Concert 20171207
6  24556     1143     SQL Symphony Concert 20171221
7  24556     1143     SQL Symphony Concert 20171224
8  28582     1143     SQL Symphony Concert 20171220
9  28582     1143     SQL Symphony Concert 20171215
10 43366     1143     SQL Symphony Concert 20171207
11 58898     1143     SQL Symphony Concert 20171220
12 62596     1143     SQL Symphony Concert 20171225
13 67318     1143     SQL Symphony Concert 20171206
14 69325     1143     SQL Symphony Concert 20171206
15 69699     1143     SQL Symphony Concert 20171214
16 79312     1143     SQL Symphony Concert 20171203
17 81526     1143     SQL Symphony Concert 20171202
18 92343     1143     SQL Symphony Concert 20171212
19 99716     1143     SQL Symphony Concert 20171206
20 99716     1143     SQL Symphony Concert 20171212
21 99716     1143     SQL Symphony Concert 20171229

<b>The murderer(s) is/are: Miranda Priestly hired Jeremy Bowers</b>

In [95]:
#Disconnect from the database. Always remember to disconnect :) 
dbDisconnect(db)

Warning message in connection_release(conn@ptr):
"There are 1 result in use. The connection will be released when they are closed"